body,
html,
.App,
.container-div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General classes */
.vertical-center {
	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	background-color: #f5f6fa;
}

.center-row-item {
	display: flex;
	justify-content: center;
}

.container-div {
	background-color: #f5f6fa;
}

.no-wrap {
	white-space: nowrap;
}

div.form-line-break {
	width: 100%;
    height: 1px;
    background-color: #ced4da;
    margin: 30px 0 20px 0;
}

.box-header {
	color: #212529;
	font-size: 25px;
	font-weight: 500;
	display: block;
	margin-bottom: 6px;
}

/* Main page */
.intro-text {
	margin: 50px auto 30px auto;
	width: 50%;
	max-width: 700px;
	min-width: 450px;
}

#intro-header {
	border-radius: 10px 10px 0 0;
	padding: 20px 40px 30px 40px;
	background-color: #353b48;
	margin-bottom: -10px;
}

.intro-title, #intro-header p {
	color: white;
}

.intro-title {
	font-weight: 500;
	font-size: 38px;
	margin-bottom: 8px;
	text-align: center;
}

.intro-title .intro-blue {
	font-weight: 700;
	color: #00a8ff;
}

#intro-header p {
	margin-bottom: 0px;
	text-align: justify;
}

.how-title {
	color: #212529;
	font-size: 24px;
	display: block;
	font-weight: 500;
	margin-bottom: 16px;
}

#explanation {
	border-radius: 10px;
	border: 2px solid #353b48;
	padding: 20px 40px 16px 40px;
	background-color: #f5f6fa;
}

.intro-text h4 {
	margin-bottom: 18px;
}

.intro-text ol {
	list-style: none;
	counter-rest: item;
	padding-left: 0;
	list-style-position: outside;
	margin-left: 3.1em;
}

.intro-text ol li {
	counter-increment: item;
	margin-bottom: 10px;
	list-style-position: outside;
}

.intro-text ol li:before {
	margin-right: 10px;
	content: counter(item);
	background: #718093;
	border-radius: 100%;
	color: white;
	width: 2em;
	height: 2em;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	line-height: 2em;
	margin-left: -2.5em;
	transition: background 0.5s ease;
}

.intro-text ol li:hover:before {
	background: #7f8fa6;
}

/* Login panel */
.central-panel {
	background-color: #fff;
	width: 50%;
	max-width: 700px;
	min-width: 450px; 
	margin: 0 auto;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 12px #e8e8e8;
}

#register-2, #register-3, #login {
	display: none;
}

.form-row {
	margin: 10px 0;
}

.form-row p {
	margin-block-end: 0;
}

.form-col2 {
	display: inline-block;
	width: calc(50% - 7.2px);
}

.form-row .form-col2:first-child {
	margin-right: 10px;
}

button.btn-block {
	width: 50%;
	margin-top: 12px;
	margin-right: 10px;
	max-width: 200px;
}

button.btn-block:last-child {
	margin-right: 0; 
}

button:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}

#forgot-pass a {
	text-decoration: none;
	color: #212529;
	transition: color 0.3s ease;
}

#forgot-pass a:hover {
	cursor: pointer;
	color: #8995a1;
}

.login-txt {
	font-weight: bold;
	transition: color 0.3s ease;
}

.login-txt:hover {
	cursor: pointer;
	color: #8995a1;
}

/* Smaller screens */
@media only screen and (max-width: 450px) {
	div.vertical-center {
		min-width: 370px;
	}
	
	div.intro-text {
		width: 100%;
		min-width: 370px;
		border-radius: 0;
		margin: 0;
	}

	div.intro-text #intro-header {
		border-radius: 0;
	}

	div.intro-text #explanation {
		border-radius: 0;
		border-width: 0;
	}

	div.central-panel {
		width: 100%;
		min-width: 370px;
		border-radius: 0;
	}

}

@media only screen and (max-width: 370px) {

}

/* Verification page */
div.verification {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - 60px)
}

.verify-text {
	margin-top: 10px;
}

.verification p {
	margin-bottom: 0;
	text-align: justify;
}

/* Forgot pass page */
.forgot-pass p {
	margin-top: 10px;
	margin-bottom: 20px;
}